__pycache__/
*.py[cod]

*.log
*.json
*.txt
*.patterns
*.pattern
*.regex
*.jwt
*.token
*.tokens
!requirements.txt

.env
.env/
*.env
venv/
env/
.venv/
findings/
outputs/
output/
secrets.*

.DS_Store
.agents/
.codex
.codex/
